table {
    box-shadow: 1px 1px 5px #333;
}
thead {
    background-color: #267BFF;
    color: white;
}

tbody {
    background-color: #f0f0f0;
    color: #000;
}

.lbl-filtering {
    font-size: 14px;
    margin-top: 20px;
    color: #888;
}

.createDragon {
    background-color:#267BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.createDragon:hover {
    background-color:#267BD0;
}